name: pipelines-as-code
upstream: openshift-pipelines/pipelines-as-code
components:
  - name: controller
  - name: webhook
  - name: watcher
  - name: cli
    nudges:
      - operator-{{hyphenize .Version.Version}}-bundle
      - tektoncd-cli-{{hyphenize .Version.Version}}-tkn
